[submodule "clients/zec-client"]
	path = clients/zec-client
	url = https://github.com/graphsense/zec-client
	branch = master
[submodule "clients/ltc-client"]
	path = clients/ltc-client
	url = https://github.com/graphsense/ltc-client
	branch = master
[submodule "clients/bch-client"]
	path = clients/bch-client
	url = https://github.com/graphsense/bch-client
	branch = master
[submodule "clients/btc-client"]
	path = clients/btc-client
	url = https://github.com/graphsense/btc-client
	branch = master
[submodule "ingest/graphsense-blocksci"]
	path = ingest/graphsense-blocksci
	url = https://github.com/graphsense/graphsense-blocksci
	branch = master
[submodule "transformation/graphsense-transformation"]
	path = transformation/graphsense-transformation
	url = https://github.com/graphsense/graphsense-transformation
	branch = master
[submodule "rest/graphsense-rest"]
	path = rest/graphsense-rest
	url = https://github.com/graphsense/graphsense-rest
	branch = master
[submodule "dashboard/graphsense-dashboard"]
	path = dashboard/graphsense-dashboard
	url = https://github.com/graphsense/graphsense-dashboard
	branch = master
