[submodule "clients/zec-client"]
	path = clients/zec-client
	url = https://github.com/graphsense/zec-client
	branch = develop
[submodule "clients/ltc-client"]
	path = clients/ltc-client
	url = https://github.com/graphsense/ltc-client
	branch = develop
[submodule "clients/bch-client"]
	path = clients/bch-client
	url = https://github.com/graphsense/bch-client
	branch = develop
[submodule "clients/btc-client"]
	path = clients/btc-client
	url = https://github.com/graphsense/btc-client
	branch = develop
[submodule "clients/eth-client"]
	path = clients/eth-client
	url = https://github.com/graphsense/eth-client
	branch = main
[submodule "ingest/graphsense-blocksci"]
	path = ingest/graphsense-blocksci
	url = https://github.com/graphsense/graphsense-blocksci
	branch = develop
[submodule "ingest/graphsense-ethereum-etl"]
	path = ingest/graphsense-ethereum-etl
	url = https://github.com/graphsense/graphsense-ethereum-etl
	branch = main
[submodule "transformation/graphsense-transformation"]
	path = transformation/graphsense-transformation
	url = https://github.com/graphsense/graphsense-transformation
	branch = develop
[submodule "transformation/graphsense-ethereum-transformation"]
	path = transformation/graphsense-ethereum-transformation
	url = https://github.com/graphsense/graphsense-ethereum-transformation
	branch = main
[submodule "rest/graphsense-rest"]
	path = rest/graphsense-rest
	url = https://github.com/graphsense/graphsense-rest
	branch = develop
[submodule "dashboard/graphsense-dashboard"]
	path = dashboard/graphsense-dashboard
	url = https://github.com/graphsense/graphsense-dashboard
	branch = develop
