# directories to store synced data from cryptocurrency clients
BTC_BLOCK_DATADIR=
BCH_BLOCK_DATADIR=
LTC_BLOCK_DATADIR=
ZEC_BLOCK_DATADIR=
ETH_BLOCK_DATADIR=
# config files for UTXO clients
BTC_CLIENT_CONF=./btc-client/docker/client.conf
BCH_CLIENT_CONF=./bch-client/docker/client.conf
LTC_CLIENT_CONF=./ltc-client/docker/client.conf
ZEC_CLIENT_CONF=./zec-client/docker/client.conf
