# number of parallel processes (Python multiprocessing)
PROCESSES=24

# Cassandra seed host; IP address (or resolvable hostname)
CASSANDRA_HOST=192.168.243.101

### BTC (parsing in disk mode)
# location of BlockSci config file on local machine
BTC_BLOCKSCI_CONFIG=./graphsense-blocksci/conf/btc.cfg
# local directory for BlockSci data
BTC_BLOCKSCI_DATADIR=
# local directory for BTC client data (for disk mode parsing)
BTC_BLOCK_DATADIR=
# name of raw Cassandra keyspace
BTC_RAW_KEYSPACE=btc_raw

### BCH (parsing in disk mode)
# location of BlockSci config file on local machine
BCH_BLOCKSCI_CONFIG=./graphsense-blocksci/conf/bch.cfg
# local directory for BlockSci data
BCH_BLOCKSCI_DATADIR=
# local directory for BCH client data (for disk mode parsing)
BCH_BLOCK_DATADIR=
# name of raw Cassandra keyspace
BCH_RAW_KEYSPACE=bch_raw

### LTC (parsing in disk mode)
# location of BlockSci config file on local machine
LTC_BLOCKSCI_CONFIG=./graphsense-blocksci/conf/ltc.cfg
# local directory for BlockSci data
LTC_BLOCKSCI_DATADIR=
# local directory for LTC client data (for disk mode parsing)
LTC_BLOCK_DATADIR=
# name of raw Cassandra keyspace
LTC_RAW_KEYSPACE=ltc_raw

### ZEC (parsing in RPC mode)
# location of BlockSci config file on local machine
ZEC_BLOCKSCI_CONFIG=./graphsense-blocksci/conf/zec.cfg
# local directory for BlockSci data
ZEC_BLOCKSCI_DATADIR=
# name of raw Cassandra keyspace
ZEC_RAW_KEYSPACE=zec_raw

### ETH
# URI of the web3 IPC provider
GETH_IPC=
# local directory for dsbulk log files
ETH_DSBULK_LOG_DIR=
# name of raw Cassandra keyspace
ETH_RAW_KEYSPACE=eth_raw
