# endpoint GraphSense REST API
REST_ENDPOINT="https://api.graphsense.info"
# exposed port of dashboard
DASHBOARD_PORT=8000
# webservice for report generation (optional)
TITANIUM_REPORT_GENERATION_URL="https://titanium-report.graphsense.info"
