### Spark configuration
### see https://spark.apache.org/docs/latest/configuration.html
# application web UI port
SPARK_UI_PORT=4040
# driver port
SPARK_DRIVER_PORT=4041
# block manager port
SPARK_BLOCKMGR_PORT=4042
# IP address of the host machine where the container will be running
SPARK_DRIVER_HOST=
# address of spark-master in external standalone cluster
# spark://SPARK_MASTER_IP:7077
SPARK_MASTER=
# amount of memory to use per executor process, in the same format as JVM
# memory strings with a size unit suffix ("k", "m", "g" or "t") (e.g. 192g).
SPARK_EXECUTOR_MEMORY=
# local directory for shuffle data and block manager disk data
SPARK_LOCAL_DIR=

### arguments for Spark submit job
# Cassandra seed host; IP address (or resolvable hostname)
CASSANDRA_HOST=
# cryptocurrency coin name (BTC, BCH, LTC or ZEC)
CURRENCY=
# name of raw Cassandra keyspace
RAW_KEYSPACE=
# name of transformed Cassandra keyspace (target keyspace of Spark application)
TGT_KEYSPACE=
# Spark checkpoint directory (HDFS directory, writable for used Docker UID)
CHECKPOINT_DIR=
