### Spark configuration
# application web UI port
SPARK_UI_PORT=4040
# driver port
SPARK_DRIVER_PORT=4041
# block manager port
SPARK_BLOCKMGR_PORT=4042
# Spark driver IP address (IP address of docker container in macvlan network)
SPARK_DRIVER_IP=
# address of spark-master in external standalone cluster
# spark://SPARK_MASTER_IP:7077
SPARK_MASTER=
# Docker macvlan subnet of Spark cluster in CIDR notation
# e.g. 192.168.243.0/24
SPARK_CLUSTER_SUBNET=
# physical parent network device of Docker macvlan network (e.g. eno1)
SPARK_MACVLAN_DEV=
# amount of memory to use per executor process, in the same format as JVM
# memory strings with a size unit suffix ("k", "m", "g" or "t") (e.g. 192g).
SPARK_EXECUTOR_MEMORY=192g

### arguments for Spark submit job
# Cassandra seed host; IP address (or resolvable hostname)
CASSANDRA_HOST=
# cryptocurrency coin name (BTC, BCH, LTC or ZEC)
CURRENCY=
# name of raw Cassandra keyspace
RAW_KEYSPACE=
# name of tagpack keyspace
# (see https://github.com/graphsense/graphsense-tagpacks)
TAG_KEYSPACE=tagpacks
# name of transformed Cassandra keyspace (target keyspace of Spark application)
TGT_KEYSPACE=
